:root {
  --cp-lGrey: hsl(301, 18%, 54%);
  --cp-lGrey25: rgb(158, 116, 157, 0.25);
  --cp-dGrey: rgb(130, 79, 132);
  --cp-Darkest: rgb(72, 5, 59);
  --cp-Black: rgb(0, 0, 0);
}
.day {
  opacity: 0.5;
  cursor: pointer;
  border-radius: 0.5vh;
  overflow: hidden;
}

.day:hover {
  opacity: 1;
}
.day:hover .date {
  opacity: 1;
}

.month,
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 10vh);
  margin-bottom: 1vh;
  gap: 0.2rem;
}
.weekdays {
  grid-template-rows: repeat(1, 3vh);
}
.weekday {
  border: 0.1rem solid var(--cp-Darkest);
  border-radius: 0.5vh;
  background: var(--cp-lGrey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: white;
}

.year {
  font-weight: 1000;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.date {
  border-radius: 50%;
  width: 2.5vh;
  height: 2.5vh;
  font-size: 1.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  margin: 0.2rem;
  opacity: 0.5;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.chngM {
  border: none;
  background: none;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  color: var(--cp-lGrey);
}
.chngM:hover {
  color: var(--cp-Darkest);
}

.tButton {
  border: none;
  background: var(--cp-lGrey);
  color: var(--cp-Darkest);
}
.taskButtons {
  display: flex;
  justify-content: space-between;
}
form {
  display: flex;
  flex-direction: column;
}
.iInput,
.iDetails {
  outline: 0.1rem solid var(--cp-lGrey);
  border: none;
}
.iInput:focus,
.iDetails:focus {
  background-color: var(--cp-lGrey25);
}
.iInput::placeholder,
.iDetails::placeholder {
  color: var(--cp-lGrey);
}
.submitButton {
  background-color: var(--cp-lGrey);
  border: none;
  color: white;
  cursor: pointer;
  outline: 0.1rem solid var(--cp-lGrey);
}
.selectedTask {
  background-color: var(--cp-lGrey);
  border-radius: 1vh;
  display: flex;
  justify-content: end;
}
.selectedtTitle,
.selectedtTime {
  font-weight: 700;
}
.selectedtTitle,
.selectedtTime,
.selectedtDetails {
  display: flex;
  justify-content: center;
  margin: 0 1vh;
}
.selectedtDetails {
  margin-bottom: 1vh;
}
.selectedtTitle {
  color: white;
}
.info {
  flex: 6;
}
.taskButtons {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.tButton {
  background-color: var(--cp-dGrey);
  color: white;
  font-weight: 700;

  cursor: pointer;
  flex: 1;
}
.tButton:hover {
  background-color: var(--cp-Darkest);
}
.dayTasks {
  margin: auto;
  display: grid;

  grid-template-columns: repeat(auto-fill, 25%);
}
.cTask {
  color: var(--cp-Darkest);
  font-size: 1.5vh;
  font-weight: 700;
  border-radius: 0.5vh;
  margin: 0.5vh;
  display: flex;
  justify-content: center;
  outline: 0.2rem solid var(--cp-Darkest);
}
.cTask:hover {
  outline: 0.2rem dotted var(--cp-Darkest);
}

.workspace {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 1vh;
}
.iDetails {
  resize: vertical;
}
.selectedDay {
  border: 0.1rem solid var(--cp-lGrey);
  border-radius: 0.5rem;
  overflow: hidden;
}
.infoTask:hover {
  background: var(--cp-lGrey25);
}
.infoDate {
  color: var(--cp-lGrey);
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: center;
}
