:root {
  --cp-lGrey: rgb(158, 116, 157);
  --cp-dGrey: rgb(130, 79, 132);
  --cp-Black: rgb(72, 5, 59);
  --cp-Purple: rgb(238, 0, 255);
}
.day {
  opacity: 0.5;
  cursor: pointer;
  border-radius: 0.5vh;
  overflow: hidden;
}
.day:hover {
  opacity: 1;
  border: 0.2rem solid var(--cp-Black);
}
.day:hover .date {
  opacity: 1;
}

.month,
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 10vh);
  gap: 0.2rem;
}
.weekdays {
  grid-template-rows: repeat(1, 3vh);
  margin-bottom: 1vh;
}
.weekday {
  border: 0.1rem solid var(--cp-Black);
  border-radius: 0.5vh;
  background: var(--cp-lGrey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: white;
}
.year {
  font-weight: 1000;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.date {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  margin: 0.2rem;
  opacity: 0.5;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.chngM {
  border: none;
  background: none;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  color: var(--cp-lGrey);
}
.chngM:hover {
  color: var(--cp-Black);
}

.tButton {
  border: none;
  background: var(--cp-lGrey);
  color: var(--cp-Black);
}
.taskButtons {
  display: flex;
  justify-content: space-between;
}
form {
  display: flex;
  flex-direction: column;
}
.selectedTask {
  background-color: var(--cp-lGrey);
}
.dayTasks {
  display: flex;
  flex-direction: column;
}
.cTask {
  color: blue;
  font-weight: 700;
}
.cTask::before {
  content: "•";
}
