:root {
  --cp-lGrey: rgb(206, 206, 206);
  --cp-dGrey: rgb(116, 116, 116);
  --cp-Black: rgb(34, 34, 34);
}
.day {
  border: 0.1rem solid var(--cp-Black);
  opacity: 0.5;
  cursor: pointer;
}
.day:hover {
  opacity: 1;
  border: 0.2rem solid var(--cp-Black);
}
.day:hover .date {
  opacity: 1;
}
.month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 10vh);
  gap: 0.2rem;
}
.year {
  font-weight: 1000;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.date {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  margin: 0.2rem;
  opacity: 0.5;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.chngM {
  border: none;
  background: none;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  color: var(--cp-lGrey);
}
.chngM:hover {
  color: var(--cp-Black);
}
